* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

::-webkit-scrollbar {
  display: none;
}

html, body {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  scroll-behavior: smooth;
}

.container_body {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.container_body nav {
  color: white;
  background: #128c7e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.container_body nav .nav-cont {
  padding: 0.5rem;
  height: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #ffffff;
}

.container_body nav .nav-cont a {
  color: white;
  text-decoration: none;
  font-style: 15px;
}

.container_body nav .nav-cont div {
  margin-right: 1rem;
}

.container_body .container_main {
  width: 100%;
  height: calc( 100% - 5rem);
  overflow-x: scroll;
}

.container_body section {
  width: 100%;
}

.container_body main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  width: 400%;
  height: 100%;
}

.container_body main #chats, .container_body main #estados, .container_body main #llamadas {
  width: 100%;
}

.container_body main #chats article, .container_body main #estados article, .container_body main #llamadas article {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  width: 100%;
}

.container_body main #chats article .cont-article, .container_body main #estados article .cont-article, .container_body main #llamadas article .cont-article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  line-height: 1.5;
  padding: 0.7rem;
}

.container_body main #chats article .cont-article div, .container_body main #estados article .cont-article div, .container_body main #llamadas article .cont-article div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
}

.container_body main #chats article .cont-article div #material, .container_body main #estados article .cont-article div #material, .container_body main #llamadas article .cont-article div #material {
  font-size: 20px;
}

.container_body main #chats article #hora, .container_body main #estados article #hora, .container_body main #llamadas article #hora {
  position: absolute;
  top: 0.4rem;
  right: 0.4rem;
}

.container_body main #chats article img, .container_body main #estados article img, .container_body main #llamadas article img {
  padding: 0.6rem;
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
}

#tac {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  width: 3rem;
  height: 3rem;
  color: white;
  text-align: center;
  line-height: 2;
  border-radius: 100%;
  background-color: #128c7e;
}

.linea {
  border-bottom: 2px solid white;
}

.linea #archivado {
  padding: 0.6rem;
  margin: 20px;
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
}

#lapiz {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  margin-bottom: 60px;
  width: 3rem;
  height: 3rem;
  color: #333232;
  text-align: center;
  line-height: 2;
  border-radius: 100%;
  background-color: #E8ebf0;
  -webkit-box-shadow: 3px 3px 3px 3px #dfdbdb;
  box-shadow: 3px 3px 3px 3px #dfdbdb;
}

#cam {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  width: 3rem;
  height: 3rem;
  color: white;
  text-align: center;
  line-height: 2;
  border-radius: 100%;
  background-color: #128c7e;
}

#mas {
  position: relative;
  color: #25d366;
  background-color: #ffffff;
  top: 3.9rem;
  left: 2.4rem;
  z-index: 1000000;
  border-radius: 100%;
  width: 1.5rem;
  height: 1.5rem;
}

#imagen {
  color: gray;
  font-size: 1.5rem;
}

#ha {
  padding: 3px;
}

.recien {
  color: gray;
}

.visto {
  color: gray;
}

.silenciado {
  color: gray;
}

#perdida {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  width: 3rem;
  height: 3rem;
  color: white;
  text-align: center;
  line-height: 2;
  border-radius: 100%;
  background-color: #128c7e;
}

.select {
  border-bottom: 2px solid white;
}

#material {
  color: #34b7f1;
}

.reci {
  color: #25d366;
}

.perdi {
  color: red;
}
/*# sourceMappingURL=css.css.map */